.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: -webkit-linear-gradient(to left, #c8f7ef00, #1c3f66a9);
    background: linear-gradient(to left, #c8f7ef00, #1c3f66a9);
}

.register h1 {
    font-weight: bold;
    margin: 0;
}

.register h2 {
    text-align: center;
}

.register p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.register span {
    font-size: 12px;
}

.register a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.register button {
    border-radius: 20px;
    border: 1px solid #1C3E66;
    background-color: #1C3E66;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.register button:active {
    transform: scale(0.95);
}

.register button:focus {
    outline: none;
}

.register button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.register .form-flex {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.register .container {
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 660px;
    background-image: url("../../images//bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.register .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.register .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.register .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.register .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.register .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.register .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.register .overlay {
    background: -webkit-linear-gradient(to right, #c8f7ef00, #1c3f66a9);
    background: linear-gradient(to right, #c8f7ef00, #1c3f66a9);
    /* background-image: url("../../images/bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.register .container.right-panel-active .overlay {
    transform: translateX(50%);
}

.register .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.register .overlay-left {
    transform: translateX(-20%);
}

.register .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.register .overlay-right {
    right: 0;
    transform: translateX(0);
}

.register .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.register .social-container {
    margin: 20px 0;
}

.register .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.register footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.register footer p {
    margin: 10px 0;
}

.register footer i {
    color: red;
}

.register footer a {
    color: #3c97bf;
    text-decoration: none;
}