.main-layout {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: row;
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
    background: #FFF;
}

.main-layout .header {
    background: #FFF;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
    height: 100px;
    z-index: 9;
}

.main-layout .sider .btn-collap {
    color: #D3D4D8;
    padding: 20px;
}

.main-layout .ant-layout-sider-children {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.main-layout ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.menu {
    background: #FFF;
}

.main-layout .header .avatar {
    border-radius: 50%;
}

.main-layout .header .user-name {
    color: #1C3E66;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

.main-layout .header .role {
    color: #fe7524;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.main-layout .header .logout {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;

    border-radius: 5px;
    background: #F4F2F2;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.6s ease-in-out;

}


.main-layout .header .logout:hover {
    border-radius: 5px;
    background: #F4F2F2;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.25);
}

.main-layout .content {
    /* box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25), -3px -3px 10px 0px rgba(0, 0, 0, 0.25); */
}

.action-admin .info-admin {
    border-top: 1px solid #cccccc;
    border-radius: 0px !important;
}

.action-admin .info-admin .info-admin-title {
    color: #808080;
    font-weight: 500;
    font-size: 14px;
}

.main-layout .sider ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.menu.css-dev-only-do-not-override-pr0fja {
    background: #094174;
    display: flex;
    padding: 25px 15px;
    flex-direction: column;
    align-items: flex-start;
}

.main-layout aside.ant-layout-sider.ant-layout-sider-dark.sider {
    max-width: 240px !important;
    width: 240px !important;
    flex: 1 240px !important;
}

.main-layout aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.sider {
    max-width: 80px !important;
    width: 80px !important;
    flex: 1 80px !important;
}

.main-layout span.anticon.anticon-user.ant-menu-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout .sider li.ant-menu-item.menu-title {
    color: #6b7280;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    display: flex;
    height: 48px;
    padding: 10px 15px;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
}

.main-layout .sider li.ant-menu-item.menu-title:hover {
    border-radius: 0px;
    background: #ffffff;
    color: #0d9e6d;
    border-left: 5px solid #0d9e6d;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 160% */
    letter-spacing: 0.15px;
}

.main-layout .sider li.ant-menu-item.menu-title.active {
    border-radius: 0px;
    background: #0d9e6d14;
    color: #0d9e6d;
    border-left: 5px solid #0d9e6d;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    display: flex;
    height: 48px;
    padding: 10px 15px;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
}

.main-layout .sider li.ant-menu-item.menu-title.active:hover {
    background: #0d9e6ee3;
    color: #ffffff;
    border-left: 5px solid #ffffff;
}

.main-layout .content .header-page .filter-page {
    /* background: #F0EEEE; */
}

.main-layout .content .header-page .title-page {
    color: rgba(0, 0, 0, 0.90);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}


.main-layout-client {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;

}

.main-layout-client .header-common {
    width: 100%;
    color: #F4F6F7;
    background-color: #FFF;
    padding: 8px 32px;
}

.main-layout-client .container-layout-client {
    /* background: -webkit-linear-gradient(to right, #c8f7ef00, #1c3f66a9); */
    /* background: linear-gradient(to right, #c8f7ef00, #1c3f66a9); */
    /* background-image: url("../../images/bg.jpg"); */
    background-color: #f5f7fb;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.main-layout-client .header-common ul li {
    border-radius: 12px;
    padding: 4px 14px;
}


.main-layout-client .header-common ul li.active {
    border: 2px solid #EDEEF3;

}

/* .main-layout-client .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #84848454;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
} */


.menu-info-user {
    /* min-width: 200px; */
    background: #fff;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 24px 24px 24px 24px; */
    white-space: nowrap;
    padding: 8px;
    border-radius: 6px;
}


@media only screen and (min-width: 1600px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 300px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 200px;
    }
}

@media only screen and (max-width: 1400px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 150px;
    }
}

@media only screen and (max-width: 1200px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 100px;
    }
}


@media only screen and (max-width: 1024px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 60px;
    }
}

@media only screen and (max-width: 768px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 576px) {

    .main-layout-client .content-layout-client,
    .main-layout-client .header-layout-client,
    .main-layout-client .footer-layout-client {
        padding: 20px 20px;
    }
}